.landing {
  background-image: url("../resources/top_sider_bg.jpg");
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing-container {
  text-align: center;
}

.circle-ripple {
  background-color: #35ffc3;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  -webkit-animation: ripple 0.7s linear infinite;
          animation: ripple 0.7s linear infinite;
  z-index: 1;
}

.circle-ripple img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@-webkit-keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
            box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
            box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}

@keyframes ripple {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
            box-shadow: 0 0 0 0 rgba(101, 255, 120, 0.3), 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3);
  }
  100% {
    -webkit-box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
            box-shadow: 0 0 0 1em rgba(101, 255, 120, 0.3), 0 0 0 3em rgba(101, 255, 120, 0.3), 0 0 0 5em rgba(101, 255, 120, 0.3), 0 0 0 8em rgba(101, 255, 120, 0);
  }
}

.intro {
  margin-top: 10%;
  padding-top: 20%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(30%, transparent), color-stop(70%, #252A2E));
  background-image: linear-gradient(transparent 30%, #252A2E 70%);
  height: 35vh;
  z-index: 0;
  text-align: center;
}

.intro h2 {
  margin-bottom: 2%;
}

.intro h6 {
  margin-bottom: 5%;
}

.social li a {
  color: white;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 150%;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.social li a i {
  width: 37px;
  height: 50px;
  border-radius: 50%;
}

.social li .f:hover {
  background-color: #4267B2;
}

.social li .w:hover {
  background-color: green;
}

.social li .l:hover {
  background-color: #0077b5;
}

.social li .i:hover {
  color: #f50a93;
  background-color: white;
}

@media only screen and (min-width: 768px) {
  .intro {
    margin-top: 10%;
    padding-top: 15%;
  }
}
/*# sourceMappingURL=landing.css.map */