$color1:#FFFFFF;
$color2:#65ff78;
$back1:#1E2326;
$back2:#252A2E;


//navigation bar
#navigation{

    background-color: transparent;
    width: 100%;
    height:20vh;




}
.navbar{
    background-color: transparent;
    #brand{
        color: $color2 !important;;

        font-size: 200%;


    }
    a{
        font-size:100%;
        color:white!important;
        transition:all 0.5s  ease  0s;



    }
    a:hover{
        color:#65ff78 !important;

       // color:green !important;



    }
    .toggler{
        background-color: $color2;
    }
}
.navbar-toggler .navbar-toggler {
    border-color: white;
}
.navbar-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navcover{
    background-color: transparent;

height: 20vh;
}

//large screens
@media only screen and (min-width: 768px) {
    .navcover{
                background-color: transparent;

        height: 20vh;
    }
}
@media only screen and (max-width: 1000px) {
    .navbar{
        background-color: transparent;
  
       ul{background-color: $back2;
           margin-left: 45%!important;
           margin-right: 5%!important;
           border-radius:5px;


        }
        li:not(:last-child){
                a{
             border-bottom:2px solid white;
 
            }
     
     
     
         }
 
    }
    }